@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
  font-family: Nanum;
  src: url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
}

@font-face {
    font-family: NeoDunggeunmo;
    src: url(//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: NeoDunggeunmo Pro;
  src: url('./styles/fonts/neodgm_pro.ttf');
}
